.footer {
    color: white;
    background-color: #00A8FF;
    padding: 5rem 5rem 2.6rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 2rem;
    margin-bottom: 3rem;
}

.info-footer__header {
    font-size: 3rem;
}

.info-footer__text {
    font-size: 1.8rem;
    margin-top: 1rem;
}

.footer__contacts-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.8rem;
}

.contacts-footer__header {
    font-size: 2.5rem;
    border-bottom: 1px white solid;
}

.footer__phones-footer {
    font-size: 1.8rem;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.phones-footer__phone {
    display: flex;
    align-items: center;
}

.phones-footer__phone:before {
    content: url("../img/phone.png");
    margin-right: 1rem;
}

.footer__copyright {
    border-bottom: 1px white solid;
    font-size: 1.8rem;
}


.contacts-footer__address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.contacts-footer__time {
    display: flex;
    justify-content: space-between;
}

.contacts-footer__clock {
    width: 40px;
    height: 40px;
}

.contacts-footer__days {
    padding-left: 20px;
}
